@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
 background-color:#EEEFD8;
 overflow-x: hidden;
 width:100vw !important;
}

.lenis {
  width:100vw !important;
}

.main {
  display:flex;
  flex-direction: column;
  gap:20px;
}

body {
  margin:0;
}

.mainTitle{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  position:fixed;
  color:#4A4A3C;
  font-size:11vw;
  width:100vw;
  bottom:10px;
  padding:0;
  margin:0;
  text-align:center;
  z-index:1;
}

#leva__root{
  visibility: hidden;
}